*{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-items: center;
    font-weight: 400;
    color: #E4FDE1 !important;
    background:  #EC38BC;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(45deg,#03001E,#7303C0 ,  #EC38BC);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(45deg,#03001E,#7303C0 ,   #EC38BC);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}
main{
    flex: 1 0 auto;
}
hr{
    border: 1px solid #E4FDE1 !important;
    width: 25%;
}

.btn-primary{
    background-color: transparent !important;
    outline: none !important;
    border: 1px solid #E4FDE1 !important;
    cursor: pointer;
    border-radius: 50px !important;
    font-size: 1.2rem !important;
}
.btn-primary:hover{
    background-color: #E4FDE1 !important;
    border: none !important;
    color: #4A148C !important;
    
    
}
input{
    border: none !important;
    outline: none !important;
}
.form-control{
    background-color: transparent !important;
    border-bottom: 2px solid #E4FDE1 !important;
    outline: none !important;
    font-size: 1.5em !important;
    color: #E4FDE1 !important;
}
.form-control::placeholder{
    color: #E4FDE1 !important;
    font-size: 1.5rem !important;
}
.msg{
  font-size: 1.2em;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
  }  
ul{
    list-style: none !important;
}
.footer{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}
  
.ajax-section .cities{
   display: grid;
   grid-template-columns: repeat(autofit, 4,1fr);
   grid-gap: 10px;
   grid-template-rows: auto;
}
.ajax-section .city{
    position: relative;
}
.ajax-section .city::after {
    content: '';
    width: 90%;
    height: 50px;
    position: absolute;
    bottom: -12px;
    left: 5%;
    z-index: -1;
    opacity: 0.3;
  }
  
  .ajax-section figcaption {
    margin-top: 10px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
  }
  
  .ajax-section .city-temp {
    font-size: 5rem;
    font-weight: bold;
    margin-top: 10px;
  }
  
  .ajax-section .city sup {
    font-size: 0.5em;
  }
  
  .ajax-section .city-name sup {
    padding: 0.2em 0.6em;
    border-radius: 30px;
  }
  
  .ajax-section .city-icon {
    margin-top: 10px;
    width: 100px;
    height: 100px;
    color: #E4FDE1 !important;
  }
  
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}